
    <div id="fullpage">

        <div id="faixa1" class="par fx" style:="position:relative;">
            <section id="pagpar">
                <div id="menupar" class="menu">

                    <input type="text" class="busca" ng-model="pesquisa">

                    <select ng-model="pesquisa" class="nav">
                        <option ng-repeat="item in items | filter:{'type':'revista'}">{{item.inventoryid}}</option>
                    <option>codigo01</option>
                    <option>codigo02</option>
                    <option>codigo03</option>
                    <option>codigo05</option>
                    <option>codigo07</option>
                    <option>codigo08</option>
                    </select>
                    
                    <select ng-model="pagselectpar" class="nav">

                        <option ng-repeat="i in getNumber(numpags) track by $index"><span>{{$index+1}}</span></option>

                        <option ng-repeat="item in items track by $index | filter: {'itemmediadir':pagdirpar}">{{$index+1}}</option>
                        
                    </select>
                    
                    



                    
                    <ul id="indice">
                        <li ng-repeat="item in ca_objects | filter : pesquisa | orderBy:'idno'" ng-class-odd="'minimpar'" ng-class-even="'minmpar'">
                            <a href="" ng-href="index.html#&revista={{item.collections}}&indice={{item.idno | filter:numberStr}}">
                                <img ng-src="../revistas/{{item.collections}}/thumbs/{{item.idno}}.png" />
                            <p class="desc"></p>
                            </li>

                    </ul>
                </div>
        
            </section>
        </div>
   

    


    </div>
  
