<div id="fullpage" ng-init="thumbs=false" ng-init= "pagimpar = 1">

    <div id="faixa1" class="par fx" ng-class="{simples: (proporcao < 1)}" style:="position:relative;">
        <section id="pagpar">
            <div id="menupar" class="menu">

<!--                <input type="text" class="busca">-->
<!--
                <button><a href="index.html#busca">índice</a></button>
-->
                <button ng-click="visible=true" ng-hide="visible" class="control">índice</button>

                <select ng-model="revista" class="nav" ng-change="updateadress()" ng-hide="visible">
                    <option ng-repeat="item in items | filter:{'type':'revista'}">{{item.inventoryid}}</option>
                    <option>codigo01</option>
                    <option>codigo02</option>
                    <option>codigo03</option>
                    <option>codigo05</option>
                    <option>codigo07</option>
                    <option>codigo08</option>
                    <option>codigo09</option>
                    <option>codigo10</option>
                    <option>codigo11</option>
                </select>

                <select ng-model="pagpar" class="nav" ng-change="updateadress()">
                    
                    <!--<div ng-repeat="person in filtered = (data | filter: query)">-->
                        

                    <option ng-repeat="paginas in (exemplar = (ca_objects | filter:{'collections':revista})) track by $index ">{{$index+1}}</option>

                </select>
                <select ng-model="tipo" class="nav" ng-hide="visible">
                    <option selected>imagem</option>
                    <!--<option>fotos</option>-->
                    <option>texto</option>
                    </select>


                <input type="text" class="busca" placeholder="pesquise" ng-model="pesquisa" ng-show="visible">
                
                <select ng-model="pesquisa" class="nav" ng-show="visible">
                    <option>codigo01</option>
                    <option>codigo02</option>
                    <option>codigo03</option>
                    <option>codigo05</option>
                    <option>codigo07</option>
                    <option>codigo08</option>
                    <option>codigo09</option>
                    <option>codigo10</option>
                    <option>codigo11</option>
                    </select>
                
                    
                
                
                <div class="buttons" ng-hide="visible">
                    
                    
                    
                    
                    
                    <button class="zoom-out"><img src="css/svg/menos.svg"></span></button>

                    <button class="zoom-in"><img src="css/svg/mais.svg"></span></button>
                    <button class="resetpar"><img src="css/svg/quadrado.svg"></span></button>
                    
                </div><br>
                
                
                <div class="buttons"></div>
             <!--<button ng-click="RotateImage('panpar', 1)" class="rotate"><span class="glyphicon glyphicon-repeat"></span></button>-->   

<!--<input type="range" class="zoom-range" ng-hide="visible">
                -->






                
            </div>

            <div id="parcontroll" class="controll par" ng-hide="visible" ng-hide="visible">
                <div class="buttons">
                    
                    
                    <button class="prev-pag resetpar" ng-click="moveparprev()"><img src="css/svg/tr-up.svg"></span>
                    </button>
                    <button class="next-pag resetpar resetimpar" ng-click="moveesq()"><img src="css/svg/tr-esq.svg"></span>
                    </button>
                    <button class="prev-pag resetpar" ng-click="moveparnext()"><img src="css/svg/tr-down.svg"></span>
                    </button>
                </div>
            </div>

             <div id="miniaturaspar" ng-init="visible = false" ng-show="visible" class="miniaturas">
                 <ul id="indice">
                        <li ng-click="$parent.visible=false" ng-repeat="item in ca_objects | filter : pesquisa | orderBy:'idno'" ng-class-odd="'minimpar'" ng-class-even="'minmpar'">
                            <a href="" ng-href="index.html#&indice={{item.idno}}" >
                                <img ng-src="../revistas/{{item.collections}}/thumbs/{{item.idno}}.png" /></a>
                            </li>

                    </ul>
                
                </div>
            
            <div  class="parent" >
               
                
                
                <div id="panpar" class="panzoom" style="position:relative" ng-hide="visible || tipo == 'texto'" >
                    
                    <img ng-src="../revistas/{{revista}}/tratadas/{{revista}}_{{pagpar | numberFixedLen:4}}.png">

                </div>
                
                <div class="faixa" ng-repeat="info in ca_objects | filter: {'idno':indice}" ng-hide="visible">
                <div class="info" ng-show="tipo == 'texto'" >
                            
                    
                    <article class="description" ng-bind-html-unsafe= "info.description">{{}}</article>
                    <h3 class="autor">{{info.entities}}</h3>
                </div>
            
            
            
            </div>
                
            </div>
            <script>
                (function() {
                    var $section = $('#pagpar');
                    var $panzoom = $section.find('.panzoom').panzoom({
                        $zoomIn: $section.find(".zoom-in"),
                        $zoomOut: $section.find(".zoom-out"),
                        $zoomRange: $section.find(".zoom-range"),
                        $reset: $(".resetpar"),
                        startTransform: 'scale(1)',
                        maxScale: 50,
                        increment: 0.5,
                    });
                                        
                    $panzoom.parent().on('mousewheel.focal', function(e) {
                        e.preventDefault();
                        var delta = e.delta || e.originalEvent.wheelDelta;
                        var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                        $panzoom.panzoom('zoom', zoomOut, {
                            increment: 0.1,
                            animate: false,
                            focal: e
                        });
                    });
                })();
                
                
            </script>
        </section>
    </div>



    <div id="faixa2" class="impar fx" ng-show="proporcao>1">
        <section id="pagimpar">
            <div id="menuimpar" class="menu">




                <div class="buttons">
                    <button class="zoom-out"><img src="css/svg/menos.svg"></button>
                    <button class="zoom-in"><img src="css/svg/mais.svg"></button>
                    <button class="resetimpar"><img src="css/svg/quadrado.svg"></button>
                </div>



                <select ng-model="revista2" class="nav" ng-change="updateadress()">
                    <option>codigo01</option>
                    <option>codigo02</option>
                    <option>codigo03</option>
                    <option>codigo05</option>
                    <option>codigo07</option>
                    <option>codigo08</option>
                    <option>codigo09</option>
                    <option>codigo10</option>
                    <option>codigo11</option>
                </select>

                <select ng-model="pagimpar" class="nav" ng-change="updateadress()">

<!--                    <option ng-repeat="i in getNumber(numpagimpar) track by $index"><span>{{$index+1}}</span></option>-->
<option ng-repeat="paginas2 in exemplar2 = (ca_objects | filter:{'collections':revista2}) track by $index ">{{$index+1}}</option>
                </select>
                    <select ng-model="tipo2" class="nav" >
                    <option value="imagem" selected>imagem</option>
                    <option value="texto" >texto</option>
                    <!--<option>original</option>-->
                    
                    </select>

<!--                <input type="text" class="busca">-->



            </div>



            <div id="imparcontroll" class="controll impar">
                <div class="buttons">
                   
                    
                    <button class="prev-pag resetimpar" ng-click="moveimparprev()"><img src="css/svg/tr-up.svg"></button>
                    <button class="prev-pag resetimpar resetpar" ng-click="movedir()"><img src="css/svg/tr-dir.svg"></span></button>
                    <button class="prev-pag resetimpar" ng-click="moveimparnext()"><img src="css/svg/tr-down.svg"></span></button>
                </div>
            </div>


           
                
                <div class="parent">
                
                <div class="panzoom" ng-hide="tipo2 == 'texto'">
                    <img ng-src="../revistas/{{revista2}}/tratadas/{{revista2}}_{{pagimpar | numberFixedLen:4}}.png" >
               
                    
                    
                    </div>
                
                
            </div>
             <div class="faixa" ng-repeat="info in ca_objects | filter: {'idno':indice2}" >
                <div class="info" ng-show="tipo2 == 'texto'" >
                            
                    <h3 class="autor">{{info.entities}}</h3>
                    <h3 class="titulo">{{info.display_label}}</h3>
                    <article class="description" ng-bind-html= "info.description | rawHtml"></article>
                    
                </div>
            
            
            
            </div>
            
            
            
            <script>
                (function() {
                    var $section = $('#pagimpar');
                    var $panzoom = $section.find('.panzoom').panzoom({
                        $zoomIn: $section.find(".zoom-in"),
                        $zoomOut: $section.find(".zoom-out"),
                        $zoomRange: $section.find(".zoom-range"),
                        $reset: $(".resetimpar"),
                        startTransform: 'scale(1)',
                        maxScale: 50,
                        increment: 0.5,
                    });
                    $panzoom.parent().on('mousewheel.focal', function(e) {
                        e.preventDefault();
                        var delta = e.delta || e.originalEvent.wheelDelta;
                        var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                        $panzoom.panzoom('zoom', zoomOut, {
                            increment: 0.1,
                            animate: false,
                            focal: e
                        });
                    });
                })();
            </script>
        </section>



    </div>
    <div id="slider">&nbsp;
</div>
</div>




<script>
 $( "#slider" ).draggable({
      axis: "x", 
      start: function() {
        
      },
      drag: function() {
        updatedivsize(  );
      },
      stop: function() {
        
      }
    });

    function updatedivsize(  ) {
      // first update the status visually...
        var largura = $(window).width();
        var largurafaixa = largura - 10;
        largurafaixa = largurafaixa /2;
        largurafaixa = largurafaixa + 'px';
        var posicao = $("#slider").position();
      var ladopar = largura - posicao.left;
        var ladoimpar = posicao.left + 'px';
        var largurapar = largura - posicao.left;
        $("#faixa1").css('position', 'absolute');
        $("#faixa1").css('width', posicao.left);
        $("#faixa1").css('left', '0');
        //$("#faixa1").css('width', 'auto');
        $("#faixa2").css('left', ladoimpar);
        $("#faixa2").css('right', '0');
        $("#faixa2").css('width', largurapar);
        //$("#fullpage img").css('height', 'auto');
        //$("#fullpage img").css('width', '100%');
        
    }
    
</script>