
<div id="fullpage">

        <div id="faixa1" class="par fx" style:="position:relative;">
            <section id="pagpar">

            <input type="text" class="busca" ng-model="busca">

                                        
                    
    <ul id="indice">
        <li ng-repeat="item in ca_objects | array | filter : busca | orderBy:'display_label'" ng-class-odd="'minimpar'" ng-class-even="'minmpar'">
            <a href="" ng-href="index.html#&revista={{item.collections}}&indice={{item.idno | filter:numberStr}}">
                <p class="desc">{{item.idno}}</p>
                <p>{{item.display_label}}</p>
                <img ng-src="http://localhost/~AS/revistas/{{item.collections}}/thumbs/{{item.idno}}.png" >
        </li>

    </ul>
                    
                    
                    
                </div>
        
            </section>
    </div>
   

    


    </div>
  
