<section id="pagpar" class="panpar">
    <div id="menuimpar" class="menu timer " ng-init="thumbs=false" ng-init="sobre=false">


        <!--
        <div class="zoombuttons buttons" ng-hide="thumbs">
            <button class="zoom-out fa fa-minus" title="zoom out" alt="zoom out"></button>
            <button class="zoom-in fa fa-plus" title="zoom in" alt="zoom in"></button>
            <button class="reset fa fa-arrows-alt" title="ajustar zoom" alt="ajustar zoom"></button>
            <button class="fa fa-rotate-right" id="rotateIcon" data-ng-init="rd=1;" data-ng-click="RotateImage('img1'+ $index,rd);rd=rd+1;rd==8?rd=0:''" title="girar" alt="girar"></button>
        </div>
        -->         


<span ng-hide="thumbs">
        <button ng-init="tipo='imagem'" class="control" ng-click="tipo='texto';sobre=false" ng-show="tipo=='imagem'">texto</button>
        <button class="control" ng-click="tipo='imagem';sobre=false" ng-hide="tipo=='imagem'">imagem</button>
</span>


        
        <input type="text" class="busca control" ng-show="thumbs" ng-model="busca" placeholder="busca"/>

        <select  ng-model="busca" class="control" id="listarevista" ng-change="thumbs=true;sobre=false">
       <!-- <select ng-model="dir" class="control" id="listarevista" ng-change="udateindice()"> -->
            <option value="">revistas</option>
            <option ng-repeat="revista in revistas | array | filter:'!cartas' |  filter:'!sobre' |orderBy:'idno'">{{revista.idno}}</option>
        </select>

<!--
        <select ng-model="indice" class="control" id="listapaginas" ng-hide="thumbs">
            <option value="">pg</option>
            <option ng-repeat="paginas in objetos | array |  filter:{'collections':dir} " value="{{paginas.idno}}">{{$index+1}}</option>
        </select>

        <select ng-hide="thumbs" ng-model="tipo" ng-options="r.id as r.Name for r in tipos">
        </select>
-->


        <select ng-model="busca" class="control autores" ng-show="thumbs">
            <option value="">autores</option>
            <option ng-repeat="autor in autores | array | orderBy:'label'">{{autor.label}}</option>
        </select>

        <button class="control" ng-click="thumbs=true;sobre=false" ng-hide="thumbs">índice</button>

    </div>

    <div id="imparcontroll" class="controll impar timer" ng-hide="thumbs">
        <div class="buttons">
        <div ng-hide="thumbs" class="codigo vertical" ng-repeat="info in objetos | array | filter: {'idno':indice}">{{info.idno}}</div>

            <button class="next-pag resetpar resetimpar fa fa-arrow-right" ng-click="vai()" title="próxima dupla" alt="próxima dupla" ng-show="proporcao>1">
            </button>

            <button class="next-pag resetpar resetimpar fa fa-arrow-left" ng-click="duplavolta()" title="próxima dupla" alt="próxima dupla" ng-show="proporcao>1">
            </button>
            
            

            <button class="prev-pag resetpar fa fa-arrow-up" ng-click="moveprev()" title="página anterior" alt="página anterior" ng-hide="proporcao>1">
            </button>
            
            <button class="prev-pag resetpar fa fa-arrow-down" ng-click="movenext()" title="próxima página" alt="move para a próxima página" ng-hide="proporcao>1">
            </button>
            <br/><br/>
            
            <button class="zoom-out fa fa-minus" title="zoom out" alt="zoom out"></button>
            <button class="zoom-in fa fa-plus" title="zoom in" alt="zoom in"></button>

            <button class="reset fa fa-arrows-alt" title="tela cheia" alt="ajustar zoom"></button>
            <button class="fa fa-rotate-right" id="rotateIcon" data-ng-init="rd=1;" data-ng-click="RotateImage('img1'+ $index,rd);rd=rd+1;rd==8?rd=0:''" title="girar" alt="girar"></button>
            <button class="fa-resize-full" ng-click="movenext(indice)" title="próxima página" alt="move para a próxima página" ng-hide="proporcao>1">
            </button>

        </div>
    </div>




    <div class="parent" ng-hide="thumbs">
        <div id="faixa"  class="panzoom" style="position:relative;">



             <img id="img1" ng-hide="sobre" ng-show="tipo=='imagem'" ng-src="../revistas/{{dir}}/tratadas/{{indice}}.png" />
        </div>

        <div ng-show="tipo=='texto'" class="caixa" ng-repeat="info in objetos | array | filter: {'idno':indice}">

            <div class="info" >
                <h3 class="autor">{{info.entities}}</h3>
                <h3 class="titulo">{{info.display_label}}</h3>
                <article class="description" ng-bind-html="info.description | rawHtml"></article>
            </div>



        </div>

    </div>

          <div ng-show="sobre" id="textohome" ng-repeat="info in objetos | array | filter: {'idno':'sobre_0001'}">
            <div class="info help" >
                <h3 class="titulo">{{info.display_label}}</h3>
                <article class="description" ng-bind-html="info.description | rawHtml"></article>
            </div>

    </div>


<div id="miniaturaspar" class="miniaturas" ng-show="thumbs">
        <ul id="indice">

            <li ng-repeat="item in objetos | array | filter: 'codigo' | filter : busca | orderBy:'idno'" ng-class-odd="'minimpar'"  ng-class-even="'minmpar'">
                <a class="miniatura" href="" ng-href="index.html#&indice={{item.idno}}&indice2={{indice2}}">
                        <div class="titulo">
                            <p class="">{{item.entities}}</p>
                            <p class="">{{item.display_label}}</p>
                        </div>
                        
                    <img ng-src="../revistas/{{item.collections}}/thumbs/{{item.idno}}.png" alt="{{item.display_label}}"/>

                </a>
            </li>
            <!--<li ng-repeat="item in objetos | array | filter: 'cartas' | filter : busca | orderBy:'idno'" ng-class-odd="'minimpar'" ng-class-even="'minmpar'">
                <a href="" ng-href="index.html#&busca={{busca}}&busca2={{busca2}}&indice={{item.idno}}&indice2={{indice2}}">
                    <img ng-src="../revistas/{{item.collections}}/thumbs/{{item.idno}}.png" alt="{{item.display_label}}"/></a>
            </li>-->
            
        </ul>

    </div>

 
    
<div id="sobre" ng-hide="sobre" ng-click="sobre=true;thumbs=false">
<div class="vertical sobre" >sobre</div>
</div>
<div id="sobre" ng-show="sobre" ng-click="sobre=false">
<div class="vertical sobre" >x</div>
</div>
  

    
    
    
    <script>
        (function() {

            var $section = $(' .panpar');
            var $panzoom = $section.find('.panzoom').panzoom({
                $zoomIn: $section.find(".zoom-in"),
                $zoomOut: $section.find(".zoom-out"),
                $zoomRange: $section.find(".zoom-range"),
                $reset: $(".reset"),
                startTransform: 'scale(1)',
                maxScale: 50,
                increment: 0.25,
            });

            $panzoom.parent().on('mousewheel.focal', function(e) {
                e.preventDefault();
                var delta = e.delta || e.originalEvent.wheelDelta;
                var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                $panzoom.panzoom('zoom', zoomOut, {
                    increment: 0.1,
                    animate: false,
                    focal: e
                });
            });
        })();
    </script>




   




    <div id="testes">
        <!--<span ng-repeat="pagina in objetos | array | filter:{'collections':dir}">{{pagina.idno}}</br></span>-->
        <h1>{{posicao}}</h1>
        
        <div id="counter" ng-model="posicao" >
<!--
    <li ng-repeat="pagina in (filtrados = (objetos | array | filter: busca))" ng-class="{selected: pagina.idno === indice}">{{filtrados.indexOf(pagina)}}{{pagina.idno}}</li>
-->
    </div>
    

    </div>




</section>