<html ng-app="app">

<head>
    <script src="lib/jQuery/dist/jquery.js"></script>
    <script src="lib/hamsterjs/hamster.js"></script>



    <script src="lib/panzoom/panzoom.js"></script>
    <script src="lib/panzoom/pointertouch.js"></script>
    <script src="lib/panzoom/jquery.mousewheel.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>



<section ng-controller="pagController" ng-init=>





    <div id="fullpage">

        <div id="faixa1" class="par fx" >
            <section id="pagpar">
                <div id="menupar" class="menu">  

                    <div class="buttons zoomctrl">
                        <div class="range"><input type="range" class="zoom-range"></div>
                        <button class="zoom-out">-</button>
                        <button class="reset">&#8597;</button>
                        <button class="zoom-in">+</button>
                        
                    </div>
                    
                    <input type="text" class="busca">

                    <select ng-model="pagdirpar" class="nav">
                        <option ng-repeat="item in items | filter:{'type':'revista'}">{{item.inventoryid}}</option>
                    <option>codigo01</option>
                    <option>codigo02</option>
                    <option>codigo03</option>
                    <option>codigo05</option>
                    <option>codigo07</option>
                    <option>codigo08</option>
                    </select>
                  
                    
                    <select ng-model="pagselectpar" class="nav">

                        <option ng-repeat="i in getNumber(numpags) track by $index"><span>{{$index+1}}</span></option>

                        <option ng-repeat="item in (filtropag = (items | filter: {'itemmediadir':pagdirpar})) track by $index">{{$index+1}}</option>
                        
                    </select>
                    <div class="buttons">
                        <button class="prev-pag" ng-click="pagselectpar = pagselectpar - 1">&#10229;</button>
                    </div>
                    
                    <span>{{pagdirpar}}{{pagselectpar}}</span>





                    
                    

                    
                    <h1></h1>
                </div>

                <div class="parent">
                    <div class="panzoom" style="position:relative">
                        <img ng-src="../revistas/{{pagdirpar}}/tratadas/{{pagdirpar}}_{{pagselectpar | numberFixedLen:4}}.png">

                    </div>
                </div>
                <script>
                    (function() {
                        var $section = $('#pagpar');
                        var $panzoom = $section.find('.panzoom').panzoom({
                            $zoomIn: $section.find(".zoom-in"),
                            $zoomOut: $section.find(".zoom-out"),
                            $zoomRange: $section.find(".zoom-range"),
                            $reset: $section.find(".reset"),
                            startTransform: 'scale(1)',
                            maxScale: 50,
                            increment: 0.5,
                        });
                        $panzoom.parent().on('mousewheel.focal', function(e) {
                            e.preventDefault();
                            var delta = e.delta || e.originalEvent.wheelDelta;
                            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                            $panzoom.panzoom('zoom', zoomOut, {
                                increment: 0.1,
                                animate: false,
                                focal: e
                            });
                        });
                    })();
                </script>
            </section>
        </div>
   

    <div id="faixa2" class="impar fx">
        <section id="pagimpar">
            <div id="menuimpar" class="menu">

                <input type="text" class="busca">

                <select ng-model="pagdirimpar" class="nav">
                    <option>codigo01</option>
                    <option>codigo02</option>
                    <option>codigo03</option>
                    <option>codigo05</option>
                    <option>codigo07</option>
                    <option>codigo08</option>

                </select>

                <select ng-model="pagselectimpar" class="nav">

                    <option ng-repeat="i in getNumber(numpags) track by $index"><span>{{$index+1}}</span></option>

                </select>

                   

                <div class="buttons">
                    <button class="zoom-out">-</button>
                    <button class="reset">&#8597;</button>
                    <button class="zoom-in">+</button>
                </div>

                <input type="range" class="zoom-range">

                <div class="buttons">
                    <button class="prev-pag">&#10229;</button>
                </div>
                <h1></h1>
            

    </div>
    <div class="parent">
        <div class="panzoom">

            <img ng-src="../revistas/{{pagdirimpar}}/tratadas/{{pagdirimpar}}_{{pagselectimpar | numberFixedLen:4}}.png">
        </div>
    </div>
    <div class="buttons">
        <button class="zoom-in">Zoom In</button>
        <button class="zoom-out">Zoom Out</button>
        <input type="range" class="zoom-range">
        <button class="reset">Reset</button>
    </div>
    <script>
        (function() {
            var $section = $('#pagimpar');
            var $panzoom = $section.find('.panzoom').panzoom({
                $zoomIn: $section.find(".zoom-in"),
                $zoomOut: $section.find(".zoom-out"),
                $zoomRange: $section.find(".zoom-range"),
                $reset: $section.find(".reset"),
                startTransform: 'scale(1)',
                maxScale: 50,
                increment: 0.5,
            });
            $panzoom.parent().on('mousewheel.focal', function(e) {
                e.preventDefault();
                var delta = e.delta || e.originalEvent.wheelDelta;
                var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                $panzoom.panzoom('zoom', zoomOut, {
                    increment: 0.1,
                    animate: false,
                    focal: e
                });
            });
        })();
    </script>
    </section>



    </div>
    </div>

</section>



</body>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="scripts/controllers/TestController.js"></script>
<script src="scripts/controllers/app.js"></script>
<script src="lib/angular-mousewheel/mousewheel.js"></script>

<script>
var last_position = {},
    $output       = $('#output'),
    mousemove_ok  = true,
    mouse_timer   = setInterval(function () {
        mousemove_ok = true;
    }, 500),
    count         = 1;
$(document).on('mousemove', function (event) {
    if (mousemove_ok) {
        mousemove_ok = false;
        if (typeof(last_position.x) != 'undefined') {
            var deltaX = last_position.x - event.clientX,
                deltaY = last_position.y - event.clientY;
            if (Math.abs(deltaX) > Math.abs(deltaY) && deltaX > 0) {
                //left
                //$output.append('<li class="left">Left (' + (count++) + ')</li>');
            } else if (Math.abs(deltaX) > Math.abs(deltaY) && deltaX < 0) {
                //right
                //$output.append('<li class="right">Right (' + (count++) + ')</li>');
            } else if (Math.abs(deltaY) > Math.abs(deltaX) && deltaY > 0) {
                //up
                //$output.append('<li class="up">Up (' + (count++) + ')</li>');
                console.log('up');
            } else if (Math.abs(deltaY) > Math.abs(deltaX) && deltaY < 0) {
                //down
                //$output.append('<li class="down">Down (' + (count++) + ')</li>');
                console.log('down');
            }
            
        }
        last_position = {
            x : event.clientX,
            y : event.clientY
        };
    }
});

</script>

</html>